<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- metaTitle %>
    <%- meta %>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/styles.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="/assets/css/ReactCrop.css" media="none" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" media="none" onload="if(media!='all')media='all'" />
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgGYouaXhHOdcQh_xavWcixXZTVdAsDBw&libraries=places"></script>
</head>
<body>
    <div id="root"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json">
        <%- JSON.stringify(preloadedData).replace(/\//g, '\\/') %>
    </script>
    <script src="/sportunity.js"></script>
</body>
</html>
